{% extends "dashboard.html" %}
{% load static %}
{% block content %}
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Update User</h4>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                      <img src="media/{{datas.image}}" alt="No image" style="width: 150px;height: 150px;border-radius: 50%;">
                      <a href="{% url 'updupc' userid=datas.id %}"><button style="background-color: rgb(49, 22, 75);border-color: transparent;border-radius: 50%;position: relative;top: 60px;right: 35px;"><i class="mdi mdi-pencil" style="background-color: transparent;color: blue;color: whitesmoke;"></i></button></a>
                    </div>
                    <div style="padding-top: 20px;padding-bottom: 20px;">
                      <a href="{% url 'updupw' userid=datas.id %}"><button type="submit" class="btn btn-primary mr-2">Update Password</button></a>
                    </div>
                    <form action="{% url 'updusr' userid=id %}" method="POST"  class="forms-sample" enctype="multipart/form-data">
                        {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputName1">First Name</label>
                        <input name="first_name" type="text" class="form-control" id="exampleInputName1" value="{{datas.first_name}}">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Last Name</label>
                        <input name="last_name" type="text" class="form-control" id="exampleInputName1" value="{{datas.last_name}}">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Email address</label>
                          <input name="email" type="email" class="form-control" id="exampleInputEmail3" value="{{datas.email}}">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Contact Number</label>
                          <input name="phone" type="number" class="form-control" id="exampleInputEmail3" value="{{datas.phone}}">
                      </div>
                      <div class="form-group">
                        <label for="exampleSelectGender">Gender</label>
                        <select name="gender" class="form-control" id="exampleSelectGender" value="{{datas.gender}}">
                          <option>{{datas.gender}}</option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea1">Address</label>
                        <input type="text"  name="address" id=""  class="form-control" value="{{datas.address}}" id="exampleTextarea1" rows="4">
                      </div>
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <a href="{% url 'disusr' %}"><button class="btn btn-dark">Cancel</button></a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}