{% extends "dashboard.html" %}
{% load static %}
{% block content %}

          <div class="content-wrapper">

            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Add order</h4>
                    <form action="{% url 'updupw' userid=id %}" method="POST" class="forms-sample">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputName1">Enter new Password</label>
                        <input name="newpassword" type="text" class="form-control" id="exampleInputName1" placeholder="New Password">
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <a href="{% url 'disusr' %}"><button class="btn btn-dark">Cancel</button></a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
{% endblock %}